<h2><strong>LOGUEATE!</strong></h2>
<form action="" id="formLogIn">
    <input type="text" id="username" placeholder="User Name" required>
    <input type="text" id="password" placeholder="Password" required>
    <input type="submit" placeholder="LogIn" value="">
</form>