<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(255, 25, 0);color: rgb(33, 33, 33);">
        <h1>SOMETHING WENT WRONG... USER ACCES DENIED</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>