<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(169, 17, 0);color: rgb(50, 47, 47);">
        <h1>SOMETHING WENT WRONG.... REGISTER PROCESS FAIL, PLEASE TRY IN A FEW MINUTES</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>